<%= provide(:title,@user.name) %>

<div class='list-group'>
  <div class='list-group-item list-group-item-action user-show'>
    <%= gravatar_for @user %>
    <p class='user-name'>
    <%= @user.name %>
    </p>
    <%= render 'users/action', user: @user %>
    </div>
</div>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>