<%= provide(:title,@user.name) %>

<div class='list-group'>
  <div class='list-group-item list-group-item-action flex align-center justify-beetwen'>
    <div class='flex align-center'>
    <%= link_to gravatar_for(@user), @user %>
    <p class='user-name'>
      <%= link_to @user.name, @user, class: 'font-lg ml-2' %>
    </p>
    </div>
    <div>
      <%= render 'users/action', user: @user %>
    </div>
  </div>
</div>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>