<div class='row'>
  <div class='post-info'>
    <div>
      <%= link_to post.user.name, user_path(post.user) %>
    </div>
    <div>
      <span> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
      <%= like_dislike(post) %>
    </div>
  </div>

  <p>
    <%= post.content %>
  </p>

  <div class=''>
    <%= render partial: 'comments/comments', collection: post.comments %>
    <%= form_for(post.comments.new, url: post_comments_path(post)) do |f| %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'Add new Comment' %>
      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>