<div class='row'>
  <div class='col-md-4'>
    <%= form_for(@post) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'Add New Post'%>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    <% end %>
    </div>
    <div class='col-md-6'>
        <article class="timeline">
        <h3>
            Recent posts
        </h3>
        <hr>
        <ul class="posts">
            <%= render @timeline_posts %>
        </ul>
    </article>
    </div>
</div>