<div class='row'>
  <div class='col-md-3 mt-8 '>
    <%= render 'shared/user_info' %>
  </div>
  <div class='col-md-6 mt-8'>
    <div class = 'post-form'>
      <%= form_for(@post) do |f| %>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Start Post'%>
        <%= f.submit 'Post', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="timeline  mb-3">
        <div class="posts">
            <%= render @timeline_posts %>
        </div>
    </div>
  </div>
  <div class='col-md-3 mt-8'>
 
  </div>
</div>